.proCon {
    padding: 0.5rem;
  
  }
  
  .proCon p {
    align-items: flex-start;
  }
  
  .header {
      border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
  }
  
  .incomplete {
    font-style: italic;
    background-color: rgba(214, 119, 63, 0.4);
    border-radius: 15px;
    padding: 0.25rem;
  }