.itemside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px;
  }
  .heading {
    text-align: center;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .itemForm {
    width: 350px;
  }
  .summitbtn {
    margin-top: 10px;
  }